<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.yuyang.subject.dao.ClassmateCourseDao">

    <select id="getClassmateCourse" parameterType="java.lang.Integer" resultType="club.yuyang.subject.entity.ClassmateCourse">
        select * from classmateCourse where classmate_id=#{classmateId} order by times,sections
    </select>

    <select id="getRubCourse" parameterType="java.lang.Integer" resultType="club.yuyang.subject.entity.ClassmateCourse">
        select * from classmateCourse where course_id=#{course} order by times,sections
    </select>

    <select id="getClassmateCourseById" parameterType="java.lang.Integer" resultType="club.yuyang.subject.entity.ClassmateCourse">
        select *from classmateCourse where id=#{id}
    </select>

    <select id="isExitCourse" parameterType="club.yuyang.subject.entity.ClassmateCourse" resultType="club.yuyang.subject.entity.ClassmateCourse">
        select *from classmateCourse where classmate_id =#{classmateId}
                                     and times = #{times}
                                     and sections=#{sections}
    </select>
</mapper>