<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.yuyang.subject.dao.SelectCourseDao">

    <select id="getPersonCourse" parameterType="java.lang.String" resultType="club.yuyang.subject.entity.SelectCourse">
        select * from selectCourse where account=#{account} order by times,sections
    </select>

    <select id="isExitCourse" parameterType="club.yuyang.subject.entity.SelectCourse" resultType="club.yuyang.subject.entity.SelectCourse">
        select * from selectCourse where account=#{account}
                                  and times =#{times}
                                  and sections=#{sections}
    </select>

    <insert id="insertSelectCourse" parameterType="club.yuyang.subject.entity.SelectCourse">
        insert into selectcourse (institute_id,course_id,account,teacher,sections,times,address,types)
        values (#{instituteId},#{courseId},#{account},#{teacher},#{sections},#{times},#{address},#{types})
    </insert>


</mapper>