<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.yuyang.subject.dao.SelectCourseDao">

    <select id="getPersonCourse" parameterType="java.lang.String" resultType="club.yuyang.subject.entity.SelectCourse">
        select * from selectCourse where account=#{account} order by times,sections
    </select>
</mapper>