<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.yuyang.subject.dao.UserDao">



    <select id="findByIdAndPaw" resultType="club.yuyang.subject.entity.User">
        select * from user where account=#{account} and password=#{password}
    </select>

   <update id="updatePaw" parameterType="String">
       update user set password = #{password} where account=#{account}
   </update>
</mapper>