.main{
    margin: 200px auto;
    width:1024px;
    height: 600px;
    border: 1px solid black;
    background-color: #9acfea;

}

.left{
    padding: 3px;
    margin: 10px;
    width:100px;
    height: 560px;
    border: 1px solid black;
    background-color: white;
    float: left;
}

.center{
    margin: 10px;
    width:700px;
    height: 560px;
    border: 1px solid black;
    float: left;
    background: white;
}