<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>蹭课系统</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/ProfilePage.css">
    <script src="/static/js/jquery-3.4.1.js"></script>
    <script src="/static/js/bootstrap.js"></script>
</head>
<body>
<!--引入页头-->
<div th:replace="fragments/navigation :: nav"></div>
<div class="person_container">
    <span hidden id="error" th:text="${statue}"></span>
    <!--左边导航栏-->
    <div class="content_left">
        <div class="left_up">
            <ul class="person_url">
                <li th:classappend="${classmateCourseDTOS}?'actived':''">
                    <img src="/static/img/class-icon.png" class="icon"/>&nbsp;<a href="/classmateCourse">班级课表</a>
                </li>
                <li th:classappend="${personCourseDTOS}?'actived':''">
                    <img src="/static/img/mySubject-icon.png" class="icon"/>&nbsp;<a href="/personCourse">我的课表</a>
                </li>
            </ul>
        </div>
        <div class="left_down">
            <ul class="person_url">
                <li th:classappend="${rubCourse}?'actived':''">
                    <img src="/static/img/cengke-icon.png" class="icon"/>&nbsp;<a href="/rubCourse">我要蹭课</a>
                </li>
                <li th:classappend="${updatePaw}?'actived':''">
                    <img src="/static/img/changePaw-icon.png" class="icon"/>&nbsp;
                    <a style="cursor: pointer" id="upPaw" href="/toUpdatePaw">修改密码</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content_right" id="content">
        <!--显示班级课表-->
        <div id="classmateCourse" style="padding: 10px;" th:if="${classmateCourseDTOS}">
            <div style="border-bottom: 1px solid">
                <h4>班级课表</h4>
            </div>
            <!--引入学期和当前周数-->
            <div style="float: left" th:replace="fragments/termAndWeek :: termAndWeek"></div>

            <table class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>课程</th>
                    <th>教师</th>
                    <th>时间</th>
                    <th>节次</th>
                    <th>教室</th>
                    <th>类型</th>
                </tr>
                <tr th:each="list,listState:${classmateCourseDTOS}"
                    th:classappend="(${list.times}==${session.currentDate.getDay()}) ? 'tabBGC' : ''">>
                    <td th:text="${listState.count}"></td>
                    <td th:text="${list.courseName}"></td>
                    <td th:text="${list.teacher}"></td>
                    <td th:text="${list.weekName}"></td>
                    <td th:text="${list.sections}"></td>
                    <td th:text="${list.address}"></td>
                    <td th:text="${list.types}"></td>
                </tr>
            </table>
        </div>

        <!--显示个人课表-->
        <div id="personCourse" style="padding: 10px;" th:if="${personCourseDTOS}">
            <div style="border-bottom: 1px solid">
                <h4>我的课表</h4>
            </div>
                <!--引入学期和当前周数-->
                <div style="float: left" th:replace="fragments/termAndWeek :: termAndWeek"></div>

            <table class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>课程</th>
                    <th>教师</th>
                    <th>时间</th>
                    <th>节次</th>
                    <th>教室</th>
                    <th>类型</th>
                    <th>操作</th>
                </tr>
                <tr th:each="list,listState:${personCourseDTOS}"
                    th:classappend="(${list.times}==${session.currentDate.getDay()}) ? 'tabBGC' : ''">
                    <td th:text="${listState.count}"></td>
                    <td th:text="${list.courseName}"></td>
                    <td th:text="${list.teacher}"></td>
                    <td th:text="${list.weekName}"></td>
                    <td th:text="${list.sections}"></td>
                    <td th:text="${list.address}"></td>
                    <td th:text="${list.types}"></td>
                    <td>
                        <image th:if="${list.types}!='蹭'" src="/static/img/forbid-icon.png" style="width: 20px;height: 20px;"></image>
                        <a id="delRubCourse" class="btn btn-danger btn-xs"
                           th:if="${list.types}=='蹭'" th:href="@{'/selectCourse/del/'+${list.id}}"
                           onclick="return confirm('确定删除该课程吗？删除后它将会从你的课表中消失')">删除</a>
                    </td>
                </tr>
            </table>
        </div>

        <!--显示蹭课列表-->
        <div id="rubCourse" style="padding: 10px;" th:if="${rubCourse}">
            <div style="border-bottom: 1px solid">
                <h4>我要蹭课</h4>
            </div>
            <div style="float: left">
                <div class="checkedBox">
                    <select id="institutes" name="institutes" class="form-control inputs" >
                        <option value='' class="optionStyle" selected>请选择学院</option>
                        <option th:each="list : ${allInstitutes}" th:text="${list.instituteName}" th:value="${list.instituteId}"></option>
                    </select>
                </div>
                <div class="checkedBox">
                    <select id="courses" name="courses" class="form-control inputs" >
                    </select>
                </div>
            </div>
            <table class="table table-hover">
                <tr>
                    <th>序号</th>
                    <th>课程</th>
                    <th>教师</th>
                    <th>开课班级</th>
                    <th>时间</th>
                    <th>节次</th>
                    <th>教室</th>
                    <th>操作</th>
                </tr>
                <tbody id="rubList">
                    <!--ajax动态添加表格-->
                </tbody>
            </table>
        </div>

        <div id="updatePaw" style="padding: 10px;" th:if="${updatePaw}">
            <div style="border-bottom: 1px solid">
                <h4>修改密码</h4>
            </div>
            <div>
                <span class="label label-info">Username :</span>&emsp;<span class="label label-success" th:text="${session.user.name}"></span>&emsp;
                <span class="label label-info">Account　:</span>&emsp;<span class="label label-success" th:text="${session.user.account}"></span>
            </div>
            <div class="upPaw">
                <span>请输入原密码:</span><input type="password" class="input-group" name="oldPaw" id="oldPaw" required>
                <span>请输入新密码:</span><input type="password" class="input-group" name="newPaw" id="newPaw" required>
                <span>请确认新密码:</span><input type="password" class="input-group" name="agaPaw" id="agaPaw" required>
                <input type="button" id="subPaw" class="btn btn-info" value="确认修改"/>
            </div>
        </div>

    </div>

    <!--右侧公告栏-->
    <div id="location">
        <div style="height: 45px;border-bottom: solid 1px;margin-bottom: 20px;padding-top: 10px">
             <span style="font-weight: bold;color: darkslateblue;">
                   <script type="text/javascript">
                     var date = new Date();
                     document.write("Today is：" + date.getFullYear() + "年" + (date.getMonth() + 1) + "月" + date.getDate() + "日" + " 星期" + "日一二三四五六".charAt(date.getDay()));
                   </script>
             </span>
        </div>
        <div class="location_f">
            二级学院：<br>
            <span class="label label-info" th:text="${session.user.instituteName}"></span>
        </div>
        <div class="location_f">
            我的班级：<br>
            <span class="label label-warning" th:text="${session.user.classmateName}"></span>
        </div>
    </div>
</div>
</body>
<script>
    //alert错误内容
    function isOverried(obj) {
        var courseId = $(obj).attr("name");
        $.ajax({
            dataType :'json',
            type : "GET",
            url : "/addRubCourseIntoPerson/"+courseId,
            success : function(result) {
                if (result=="0"){
                    alert("添加失败！该课程与你已有课程上课时间冲突");
                } else if (result=="1"){
                    alert("添加成功！");
                } else {
                    alert("未知错误！");
                }
            },
            error: function () {
                alert("拉取后端数据失败！");
            }
        });
    }

$(function () {

    $("#selectCourse").click(function () {
        $("#selectModal").modal({
            backdrop: false, // 相当于data-backdrop
            keyboard: true, // 相当于data-keyboard，键盘上的 esc 键被按下时关闭模态框。
            show: true, // 相当于data-show
        });
    });

    //实现我要蹭课模块点击学院拉取对应课程数据
    $("#institutes").change(function(){
        var instituteId = $("#institutes option:selected").val();
        //清空course的select的值
        $("#courses").empty();
        $.  ajax({
            dataType :'json',
            type : "GET",
            url : "/getCourseByInstituteId",
            data : {
                "instituteId" : instituteId
            },
            success : function(courses) {
                $('#courses').append("<option value='' class='optionStyle'>请选择感兴趣的课程</option>");
                $.each(courses, function (index) {
                    var courseName = courses[index].courseName;
                    var courseId = courses[index].courseId;
                    //构造动态option
                    $('#courses').append("<option value='"+courseId+"'>"+courseName+"</option>")
                });
            },
            error : function() {
                alert("课程拉取失败！")
            }
        });
    });

    //实现我要蹭课模块点击课程拉取对应所有课程信息数据
    $("#courses").change(function(){

         var courseId = $("#courses option:selected").val();

        $.ajax({
            dataType :'json',
            type : "GET",
            url : "/getRubCourses",
            data : {
                "courseId" : courseId
            },
            success : function(rubCourseList) {
                var str = "";

                 $.each(rubCourseList, function (index) {
                     var id = rubCourseList[index].id;
                     var courseName = rubCourseList[index].courseName;
                     var teacher = rubCourseList[index].teacher;
                     var classmateName = rubCourseList[index].classmateName;
                     var weekName = rubCourseList[index].weekName;
                     var sections = rubCourseList[index].sections;
                     var address = rubCourseList[index].address;

                     str += "<tr>" +
                         "<td>" + (index+1) + "</td>" +
                         "<td>" + courseName + "</td>" +
                         "<td>" + teacher + "</td>" +
                         "<td>" + classmateName + "</td>" +
                         "<td>" + weekName + "</td>" +
                         "<td>" + sections + "</td>" +
                         "<td>" + address + "</td>" +
                         "<td><a class='btn btn-xs btn-info' title='添加到我的课表' name = '"+id+"' onclick='isOverried(this)'>+</a></td>" +
                         "</tr>";
                });
                 $('#rubList').html("");
                 $('#rubList').append(str);
            },
            error : function() {
                alert("对应课程列表拉取失败！")
            }
        });
     });

    //密码修改
    $("#subPaw").click(function () {
        var oldPaw = $("#oldPaw").val();
        var newPaw = $("#newPaw").val();
        var agaPaw = $("#agaPaw").val();
        if (oldPaw=="" || newPaw=="" || agaPaw==""){
            alert("输入框不能为空!");
            return false;
        }else if (newPaw!=agaPaw){
            alert("两次密码输入不一致!");
            return false;
        }
        $.ajax({
            type:"POST",
            dataType:"json",
            url:"/updatePaw",
            data:{
                "oldPaw":oldPaw,
                "newPaw":newPaw,
                "agaPaw":agaPaw
            },
           success:function (result) {
               if (result==0){
                   alert("原密码输入错误,请确认是否本人操作！");
               } else if (result==1){
                   alert("恭喜！密码修改成功！即将返回重新登录");
                   location.href="/out";
               } else if (result==2){
                   alert("两次密码输入不一致!(后台)");
               }
           },
            error:function () {
                alert("ajax访问失败");
            }
        });
    })
})
</script>
</html>